.overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay img {
    padding: 1.25rem;
}

.overlay p {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.raw {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact {
    border: 0.1em solid black;
    padding: 0.25em;
    text-align: center;
    margin: 0.25em;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url(JetBrainsMono.ttf);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

html {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5em;
    max-width: 20%;
}

img {
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}

#github {
    width: 9.6em;
}

#telegram {
    width: 6em;
}

#email {
    width: 9em;
}